/* styles/StrainList.module.css */
.strain-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.strain-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
}
