@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.portableText ul li {
  @apply list-disc list-inside;
}

/* p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: "gray";
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3rem;
  color: "gray";
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  color: gray;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.75rem;
  
} */
